.table-heading-trn {
  background-color: #007bff;
}
.second-table-heading-trn {
  background-color: #007bff;
}
.second-table-heading-trn span {
  color: #e8eaec;
}
.table-heading-trn span {
  color: #e8eaec;
}
.bill-header-bill-details {
  margin-bottom: 10px;
}
.first-table-trndiv {
  width: 48%;
}
.second-table-trndiv {
  width: 48%;
}
@media screen and (max-width: 426px) {
  .Trncheck-container {
    min-height: auto;
  }
  .centerwise-data-selection-div .select-centers-div-trn select {
    width: 70%;
  }
  .trn-first-half-div {
    min-height: fit-content;
  }
  .from-to-date-andradio-button {
    flex-direction: column;
    margin-bottom: 30px;
    min-height: fit-content;
  }
  .from-to-date-andradio-button .from-to-date-trn-date {
    width: 100%;
    min-height: fit-content;
  }
  .from-to-date-trn-date .from-to-datetrn-check .from-date-trn-cheks-div input {
    width: 140px;
    margin-bottom: 10px;
  }
  .from-to-date-trn-date .from-to-datetrn-check .To-date-trn-cheks-div input {
    width: 140px;
  }
  .sale-and-purches-trn-div .saleing-trn-div {
    width: 150px;
  }
  .sale-and-purches-trn-div .purches-trn-div {
    width: 150px;
  }
  .Trn-table-container {
    flex-direction: column;
    min-height: fit-content;
  }
  .Trn-table-container .first-table-trndiv {
    width: 100%;
    min-height: 300px;
    margin-bottom: 10px;
  }
  .Trn-table-container .second-table-trndiv {
    width: 100%;
    min-height: 300px;
    margin-bottom: 10px;
  }
  .from-to-date-andradio-button .pashukhandya-radio-btn-trn-div {
    width: 100%;
  }
  .bill-header-bill-details .Bill-header-trn-div {
    flex-direction: column;
    width: 40%;
  }
  .bill-header-bill-details .Bill-header-trn-div span {
    width: 150px;
    margin-left: 10%;
  }
  .bill-header-bill-details .Bill-header-trn-div button {
    width: 130px;
  }
  .bill-header-bill-details .Bill-details-trn-div {
    flex-direction: column;
    width: 40%;
  }

  .bill-header-bill-details .Bill-details-trn-div span {
    width: 120px;
  }
  .bill-header-bill-details .Bill-details-trn-div button {
    width: 130px;
  }
  .bill-header-bill-details .button-cheks-trn {
    align-items: center;
    width: 20%;
  }
  .bill-header-bill-details .button-cheks-trn button {
    margin-top: 23px;
  }
  .Trncheck-container .Total-anddifferance-div {
    min-height: auto;
  }
  .Trncheck-container .Total-anddifferance-div .fisrdt-table-total {
    margin-bottom: 20px;
    width: 35%;
  }
  .Trncheck-container .Total-anddifferance-div .fisrdt-table-total span {
    width: 90px;
  }
  .Trncheck-container .Total-anddifferance-div .fisrdt-table-total input {
    width: 50px;
  }
  .Trncheck-container .Total-anddifferance-div .deffrance-price-div {
    width: 30%;
    align-items: center;
    margin-bottom: 20px;
  }
  .Trncheck-container .Total-anddifferance-div .deffrance-price-div span {
    width: 50px;
  }
}

