.table-heading-trn{
  background-color: #007bff;
}
.second-table-heading-trn{
  background-color: #007bff;
}
.second-table-heading-trn span{
  color: #e8eaec;;
}
.table-heading-trn span{
  color: #e8eaec;
}
.bill-header-bill-details{
    margin-bottom: 10px;
}
.first-table-trndiv{
    width: 48%;
}
.second-table-trndiv{
 width: 48%;
}