/* dashboard cards css */
.dashboard-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.months-selector {
  padding: 5px 10px;
  background-color: var(--bg-gray-color);
  border: none;
}
.priod-container .show-btn {
  padding: 7px 10px;
  border: none;
  border-radius: 6px;
  color: #fff;
  background-color: var(--main-bg-color);
}
.card {
  width: 20%;
  height: 80px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 6px;
  background-color: #fcfcfc;
  cursor: pointer;
}
.card > .card-icon {
  font-size: 20px;
  color: blueviolet;
}

.dashboard-scrll-container {
  min-height: 80%;
  overflow-y: scroll;
}

.milk-collection-chart {
  cursor: pointer;
}

/* dashboard cards css end */

/*--------Small Screen ( < 992px) CSS-------*/

@media screen and (max-width: 426px) {
  .selection-container {
    flex-direction: column;
  }

  .selection-container .select-data-text {
    width: 100%;
  }
  .selection-container .priod-container {
    width: 100%;
  }

  .dashboard-cards {
    height: 40%;
    margin-top: 10px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  .card {
    width: 40%;
    height: 50px;
    margin-bottom: 10px;
  }
  /* .main-dashboard-container .dashboard-scrll-container {
    height: auto;
  } */
  .dashboard-scrll-container .selection-container {
    width: 100%;
    min-height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .selection-container .select-data-text {
    width: 100%;
    text-align: center;
  }
  .selection-container .custmize-report-div {
    width: 80%;
  }
  .dashboard-scrll-container .dashboard-cards {
    width: 100%;
  }
  .dashboard-cards .card {
    margin: 10px 10px 0 10px;
    text-align: center;
  }

  .dashboard-data-charts .milk-collection-chart {
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
  }
  .date-input {
    margin-left: 10px;
    width: 70%;
    height: 20px;
  }
}

/*--------Tablet Screen CSS-------*/

/*--------Mobile Screen CSS-------*/
/* css for main dairy data container >>>>>-------------------------------- */
@media screen and (max-width: 426px) {
  .dashboard-scrll-container .Milk-sale-details-container {
    min-height: fit-content;
  }
  .dashboard-scrll-container .dashboard-data-charts {
    min-height: fit-content;
    margin-top: 10px;
    flex-direction: column;
    padding: 10px;
  }
}
/* css for center information data container >>>>>-------------------------------- */
@media screen and (max-width: 426px) {
  .dashboard-scrll-container .center-sale-details-container {
    min-height: fit-content;
  }
  .center-sale-details-container .center-sales-details-container {
    min-height: fit-content;
    flex-direction: column;
  }
  .center-sale-details-container .center-sales-card {
    width: 100%;
  }
}
/* css for piechart information data container >>>>>-------------------------------- */
@media screen and (max-width: 426px) {
  .dashboard-scrll-container .liter-sales-details-inner-container {
    min-height: fit-content;
  }
  .liter-sales-details-inner-container .pie-chart-container {
    min-height: fit-content;
    flex-direction: column-reverse;
  }
  .liter-sales-details-inner-container .liter-sales-card {
    width: 100%;
    min-height: fit-content;
    margin-bottom: 10px;
  }
  .liter-sales-details-inner-container .liter-sell-details {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }
  .liter-sales-details-inner-container .liter-sell-details .details-card {
    width: 100%;
    min-height: fit-content;
    display: flex;
  }
  .liter-sell-details .details-card .colour-box{
    width: 20px;
    height: 20px;
  }
}
