.col {
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
}

.forDWidth {
  min-width: 1056px !important;
}

@media screen and (max-width: 426px) {
  .purchase {
    width: 100%;
    padding: 10px;
    margin: 15px;
    height: 100%;
  }
  .sales-dates-container-mobile {
    flex-direction: column !important;
  }
  .sales-dates-container-mobile-w100 {
    align-items: center;
    width: 100% !important;
  }
  .sales-dates-container-mobile-w100 .w-btn {
    /* margin-bottom: 15px; */
    width: 70px;
  }
  .sales-dates-container-mobile-btn {
    width: 70px !important;
  }
  .purchase-add-text {
    display: none; 
  }
}
