/* -------- whatsapp hisory container css ------------------ */
.Whatsapp-recharge-history-container {
  overflow-x: auto;
}

@media screen and (max-width: 426px) {
  .whatsapp-hisory-heading-container,
  .whatsapp-hisory-data-container {
    min-width: 800px;
  }
}
/* --------- whatsapp hisory container css end ------------------ */
@media screen and (min-width: 426px) and (max-width: 769px) {
  .whatsapp-recharge-from-container .whatsapp-sms-recharge-container {
    width: 80%;
  }
  .whatsapp-recharge-from-container .button-container {
    justify-content: space-between;
  }
  .whatsapp-recharge-from-container .button-container button {
    width: 45%;
    margin: 0;
  }
}
@media screen and (max-width: 426px) {
  .whatsapp-recharge-from-container {
    min-height: auto;
  }
  .whatsapp-recharge-from-container .whatsapp-sms-recharge-container {
    min-height: fit-content;
    width: 100%;
  }
  .whatsapp-sms-recharge-container .whatsapp-recharge-container {
    min-height: fit-content;
    width: 100%;
  }
  .whatsapp-recharge-container .input-data-container {
    width: 100%;
    min-height: fit-content;
    flex-direction: column;
  }
  .input-data-container span,
  .input-data-container .data-input-div {
    width: 100%;
    margin-bottom: 10px;
  }
}
