.forWidth {
  min-width: 1056px !important;
}
.productModel {
  position: fixed;
  z-index: 101;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}
.productModel .modal-content {
  background-color: #ffffff;
  max-height: 90%;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  overflow: auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.productModel .modal-content h2 {
  /* font-size: 1.5rem; Slightly larger heading */
  margin-bottom: 10px;
  color: #333; /* Darker text for better readability */
  text-align: center;
}

.productModel .modal-content label {
  /* font-size: 1rem; */
  color: #555;
  margin-bottom: 5px;
}

.productModel .modal-content button {
  padding: 10px 20px;
  /* font-size: 1rem; */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.productModel .modal-content button:last-child {
  background-color: #007bff;
  color: white;
  margin-left: 10px;
}

.productModel .modal-content button:last-child:hover {
  background-color: #0056b3;
}

.productModel .modal-content button:first-child {
  background-color: #f8f9fa;
  color: #333;
}

.productModel .modal-content button:first-child:hover {
  background-color: #e2e6ea;
}
/* --------- Product list css ------------ */
@media screen and (max-width: 426px) {
  .product-list-container {
    width: 100%;
    min-height: auto;
  }
  .product-list-container .download-print-pdf-excel-container {
    min-height: fit-content;
    flex-direction: column;
  }
  .download-print-pdf-excel-container .group-code-and-button-div {
    min-height: fit-content;
    flex-wrap: wrap;
  }
  .group-code-and-button-div .group-selection-container {
    width: 100%;
    justify-content: space-between;
    padding: 0;
  }
  .group-code-and-button-div button {
    width: 45%;
    margin: 0 0 10px 0;
  }
  .product-list-container .product-list-table {
    min-height: 90%;
    margin-bottom: 10px;
  }
  .product-list-table .product-heading-title-scroller {
    overflow-x: scroll;
  }
  .product-heading-title-scroller .sales-data-values-div {
    width: 700px;
  }
}

/* --------- Add Product css ------------ */
@media screen and (max-width: 426px) {
  .add-product-container {
    width: 100%;
    min-height: auto;
  }
  .add-product-container .create-product-container {
    width: 100%;
    min-height: auto;
    flex-direction: column;
  }
  .add-product-container .product-details-form-container {
    width: 100%;
    min-height: fit-content;
  }
  .product-details-form-container .prod-details-outer-div {
    width: 100%;
    min-height: fit-content;
    flex-direction: column;
  }
  .prod-details-outer-div .prod-details-div .prod-code {
    width: 30%;
  }
  .prod-details-outer-div .prod-details-div {
    width: 100%;
  }
  .product-details-form-container .prod-btn-container {
    width: 100%;
    margin-top: 10px;
    justify-content: space-between;
  }
  .prod-btn-container button {
    width: 48%;
    margin: 0;
  }

  /* ----- product ledger details css ------- */
  .add-product-container .product-ledgers-details-container {
    width: 100%;
    min-height: fit-content;
    margin-bottom: 10px;
  }
  .product-ledgers-details-container .select-group-container {
    margin: 10px 0;
  }
  .product-ledgers-details-container .prod-ledger-details-div {
    width: 100%;
    min-height: fit-content;
    flex-wrap: wrap;
  }
  .prod-ledger-details-div .info-text {
    width: 100%;
  }
  .prod-ledger-details-div .leno-text {
    width: 30%;
  }
  .prod-ledger-details-div .lename-text {
    width: 60%;
  }
}
