.forWidth {
  min-width: 1056px !important;
}
.productModel {
  position: fixed;
  z-index: 101;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}
.productModel .modal-content {
  background-color: #ffffff;
  max-height: 90%;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  overflow: auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.productModel .modal-content h2 {
  /* font-size: 1.5rem; Slightly larger heading */
  margin-bottom: 10px;
  color: #333; /* Darker text for better readability */
  text-align: center;
}

.productModel .modal-content label {
  /* font-size: 1rem; */
  color: #555;
  margin-bottom: 5px;
}

.productModel .modal-content button {
  padding: 10px 20px;
  /* font-size: 1rem; */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.productModel .modal-content button:last-child {
  background-color: #007bff;
  color: white;
  margin-left: 10px;
}

.productModel .modal-content button:last-child:hover {
  background-color: #0056b3;
}

.productModel .modal-content button:first-child {
  background-color: #f8f9fa;
  color: #333;
}

.productModel .modal-content button:first-child:hover {
  background-color: #e2e6ea;
}

@media screen and (max-width: 426px) {
  #selectItemgrpName {
    display: none;
  }
  .download-print-pdf-excel-container {
    min-height: fit-content;
    flex-direction: column;
  }
  .download-print-pdf-excel-container .prod-page-title {
    width: 100%;
  }
  .group-code-and-button-div {
    min-height: fit-content;
    padding: 10px 0;
  }
  .group-code-and-button-div .ItemGroupCode {
    width: 60%;
  }

  .product-heading-title-scroller {
    overflow-x: auto;
  }
  .sales-data-headings-div {
    min-width: 600px;
    padding: 5px 0;
  }

  .sales-data-values-div {
    min-width: 600px;
  }
  .create-dealer-container {
    min-height: auto;
  }
  .create-dealer-container .create-dealer-inner-container,
  .create-dealer-container .create-dealer-form-container {
    width: 100%;
    min-height: fit-content;
    padding: 0;
  }
  .create-dealer-form-container .row {
    margin: 0;
  }
  .create-dealer-form-container .button-container {
    flex-direction: row;
  }
  .forMin {
    padding: 15px !important;
  }
}
