/* ----- Activate/ Deactivate dairy page css ---------------- */
.dairy-list-container {
  overflow-x: auto;
}

@media screen and (max-width: 426px) {
  .dairy-activation-list-container {
    min-height: auto;
  }
  .dairy-list-container .dairy-info-heading-container,
  .dairy-list-container .dairy-info-container {
    min-width: 950px;
  }
}

/* ----------- Active/ Deactivate Model Page css ------------- */
@media screen and (max-width: 426px) {
  .milk-access-container {
    width: 96%;
    height: 90%;
    min-height: fit-content;
  }
  .milk-access-container .select-dairy-to-add-remove-access .dairyid {
    width: 20%;
  }
  .milk-access-container .select-dairy-to-add-remove-access .dairyname {
    width: 80%;
  }

  .main-access-add-remove-outer-container {
    width: 100%;
    margin-top: 10px;
    min-height: 90%;
    overflow-y: scroll;
  }
  .main-access-add-remove-outer-container .heading {
    position: sticky;
    top: 0;
    z-index: 5;
    background: #def8fd;
  }
  .main-access-add-remove-container .access-controller-div {
    width: 100%;
    height: 60px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    color: #fff;
  }
  .main-access-add-remove-container .access-controller-div .milk-access {
    width: 60%;
  }
  .main-access-add-remove-container .access-controller-div .toggle-container {
    width: 30%;
  }
}
