.create-reatil-milksale-customer-container {
  width: 500px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
}
.model-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  background-color: #75737357;
}
.heading-and-close-btn-container .span-btn {
  color: #fff;
  background-color: #2f37af;
  padding: 10px;
  border-radius: 8px;
}

/* <<<<--------------------------- Create Milk Sangha CSS ------------------------>>>> */

@media screen and (max-width: 426px) {
  .create-sangh-container {
    min-height: auto;
  }
  .create-sangh-container .create-sangha-form-container {
    min-height: fit-content;
    margin-bottom: 10px;
  }
  .create-sangha-form-container .sangha-details-form-inner-container {
    flex-direction: column;
    min-height: fit-content;
    align-items: flex-start;
  }
  .sangha-details-form-inner-container .details-div {
    width: 25%;
  }
  .sangha-details-form-inner-container .sangha-details-div {
    width: 100%;
  }
  .sangha-details-form-inner-container .button-container {
    width: 100%;
    margin-top: 10px;
    padding: 0;
  }
  .sangha-details-form-inner-container .button-container button {
    width: 50%;
  }
  .create-sangh-container .sangha-list-container {
    overflow-x: scroll;
    min-height: 80%;
  }
  .sangha-list-container .sangha-list-inner-container {
    width: 600px;
  }
  .sangha-list-container .sangha-list-inner-container .sangha-data-container {
    width: 100%;
  }
}
/* <<<<--------------------------- Create Milk Sangha CSS End------------------------>>>> */
