@media screen and (max-width: 426px) {
  .add-cattlefeed-sale-container {
    min-height: auto;
    flex-direction: column;
    padding: 10px;
  }
  .add-cattlefeed-sale-container .create-cattlefeed-sales-inner-container {
    width: 100%;
    min-height: fit-content;
    flex-direction: column;
    padding: 0;
  }
  .create-cattlefeed-sales-inner-container .create-sales-form-container {
    width: 100%;
  }
  .create-sales-form-container .sales-details {
    margin: 0;
  }
  .add-cattlefeed-sale-container .cattlefeed-sales-list-outer-container {
    min-height: 100%;
    width: 100%;
    margin-top: 10px;
    overflow-x: auto;
    padding: 0;
  }
  .cattlefeed-sales-list-outer-container .sales-list-conatainer {
    /* min-width: 500px; */
    overflow-x: auto;
  }
  /* sale list css */
  .customer-list-container-div {
    padding: 0;
    min-height: auto;
  }
  .download-print-pdf-excel-container {
    min-height: fit-content;
  }
  .download-print-pdf-excel-container .sales-dates-container {
    width: 100%;
    min-height: fit-content;
  }
  .sales-dates-container .date-input-div {
    flex-direction: column;
    width: 35%;
  }
  .date-input-div label,
  .date-input-div input {
    width: 100%;
  }
  .find-customer-container .customer-search-div {
    width: 85%;
  }
  .customer-search-div label {
    width: 20%;
    padding: 0;
  }
  .customer-search-div button {
    margin: 0;
  }
  .sales-heading-title-scroller {
    overflow-x: auto;
  }

  .sale-data-headings-div {
    min-width: 900px;
    padding: 5px 0;
  }
  .sale-data-values-div {
    min-width: 900px;
  }
  .sale .modal-content {
    padding: 10px !important;
  }
  .invoiceModel {
    padding: 15px 0px !important;
  }
  .invoiceModelInfo {
    padding: 0px 10px !important;
  }
  .icon {
    display: none;
  }
}
