/* ------------------------------------------- */
/* center list css --------------------------- */
/* ------------------------------------------- */
.center-list-div {
  overflow-x: auto;
}
.table-titles {
  min-width: 1400px;
  position: sticky;
  top: 0;
  background-color: antiquewhite;
}
.table-data {
  min-width: 1400px;
}

.label-text .icons {
  font-size: 22px;
}
.label-text .delete-icons {
  font-size: 22px;
  color: red;
}
.input-error {
  border-color: red;
}
/* ------------------------------------------- */
/* center list css end ----------------------- */
/* ------------------------------------------- */

@media screen and (max-width: 769px) {
  .center-main-container {
    min-height: auto;
    padding: 10px;
    margin-top: 10%;
  }
  .center-main-container .center-information-div {
    width: 100%;
    min-height: fit-content;
  }
  .center-information-div .center-name-div {
    margin-bottom: 10px;
  }

  .center-information-div .center-add-data-div {
    min-height: fit-content;
    flex-wrap: wrap;
    gap: 5px;
  }
  .center-add-data-div .center-details-div {
    flex: 4 1 130px;
  }
  .center-information-div .add-data-div {
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 10px;
  }
  .center-information-div button {
    margin-top: 20px;
  }
  .add-data-div .center-pass-details-div {
    flex: 2 1 150px;
  }
}

@media screen and (max-width: 426px) {
  .center-main-container {
    min-height: auto;
    padding: 10px;
    margin-top: 60%;
  }
  /* .center-main-container .center-information-div {
    width: 100%;
    min-height: fit-content;
  }
  .center-information-div .center-name-div {
    margin-bottom: 10px;
  }

  .center-information-div .center-add-data-div {
    min-height: fit-content;
    flex-wrap: wrap;
    gap: 5px;
  }
  .center-add-data-div .center-details-div {
    flex: 4 1 130px;
  }
  .center-information-div .add-data-div {
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 10px;
  }
  .center-information-div button {
    margin-top: 20px;
  }
  .add-data-div .center-pass-details-div {
    flex: 2 1 150px;
  } */
}
@media screen and (max-width: 376px) {
  .center-main-container {
    margin-top: 70%;
  }
}
