.Credit-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.Credit-container-scroll {
  scrollbar-width: none;
  overflow-y: auto;
}
.Credit-container-scroll::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}
.credit-form,
.credit-table {
  padding: 10px;
  border-radius: 8px;
}

.credit-table .creditTable-container {
  overflow-x: auto; /* Enables horizontal scrolling */
  width: 100%; /* Ensures the container spans the full width */
  margin-top: 10px;
}

.credit-table .creditTable-container .table {
  width: 100%; /* Ensures the table occupies full width */
  border-collapse: collapse; /* Removes space between table cells */
}

.credit-table .creditTable-container .table th,
.credit-table .creditTable-container .table td {
  border: 1px solid #ccc;
  text-align: center;
  padding: 8px;
  white-space: nowrap; /* Prevents text wrapping */
}

.credit-table .creditTable-container .table th {
  font-weight: bold;
}
.credit-batchTally-buttons {
  gap: 30px;
  justify-content: center;
}
/* Responsive Design */
@media (max-width: 768px) {
  .credit-form .row {
    flex-direction: row;
  }
}

@media screen and (max-width: 426px) {
  .credit-form .row .Deal-date-div {
    display: flow;
  }
  .credit-form .row .Deal-date-div input {
    width: 170px;
  }
  .credit-form .row .Batch {
    display: flow;
    width: 150px;
  }
  .credit-form .row .Batch span {
    margin-left: 10px;
  }
  .deal-container .Deal-typr-div span {
    width: 130px;

    align-items: center;
  }
  .deal-container .Deal-typr-div select {
    width: 160px;
    height: 35px;
    margin-top: 10px;
  }

  .deal-container .bill-no-div span {
    width: 120px;
  }
  .deal-container .bill-no-div input {
    width: 110px;
  }

  .bill-type-check-container .bill-type-div span {
    width: 90px;
  }
  .bill-type-check-container .bill-type-div select {
    width: 90px;
  }
  .bill-type-check-container .bill-number-div span {
    width: 80px;
  }
  .bill-type-check-container .bill-number-div input {
    width: 80px;
  }
  .credit-form .utpadak-number-container {
    flex-direction: column;
  }
  .utpadak-number-container .utpadak-number-div {
    width: 100%;
  }
  .utpadak-number-container .utpadak-number-div .w20 {
    width: 120px;
  }
  .utpadak-number-container .Amount-button-container {
    width: 100%;
  }
  .credit-all-form {
    flex-direction: column;
    gap: 10px;
  }
  .credit-batchTally {
    flex-direction: column-reverse !important;
  }
  .credit-batchTally-buttons {
    flex-direction: row !important;
    gap: 10px;
    justify-content: center;
  }
}
