/* header nav css */
.header-navs {
  position: sticky;
  top: 0;
  z-index: 9;
  background-color: #fff;
}
.icon {
  font-size: clamp(16px, 2vw, 20px);
}
.menu-icon {
  font-size: clamp(30px, 2vw, 28px);
  display: none;
}

.sidebar-container {
  width: 20%;
  /* background: var(--main-bg-color); */
  background: linear-gradient(
    15deg,
    rgba(86, 11, 173, 1) 1%,
    rgba(63, 55, 201, 1) 39%,
    rgba(76, 201, 240, 1) 96%
  );
}
.submenu-arrow {
  color: #fff;
}

.main-nav-text {
  text-decoration: none;
  color: #fff;
  font-size: clamp(1.3rem, 2vw, 1.4rem);
}

.submenu-text{
text-decoration: none;
color: #fff;
  font-size: clamp(1.2rem, 2vw, 1.2rem);
}

.submenu .submenu-item {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  padding-left: 25px;
  font-size: clamp(16px, 3vw, 22px);
}

.sidenav-btns {
  cursor: pointer;
}
/* header nav css end */

/*Responsive css*/

@media screen and (max-width: 992px) {
  .main-home-container .nav-main-view-container {
    width: 100%;
  }
  .menu-header {
    display: none;
    width: 0;
  }
}

@media screen and (max-width: 768px) {
  .main-home-container .nav-main-view-container {
    width: 100%;
  }
  .menu-icon {
    display: block;
  }
  .open-sidebar {
    position: absolute;
    width: 60%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 200;
    background: var(--main-bg-color);
    transition: all 0.2s ease;
  }
  .menu-header {
    width: auto;
  }

  .close-sidebar {
    display: none;
  }
  .dairy-name-container {
    margin-left: 10px;
  }
}

@media screen and (max-width: 426px) {
  .main-home-container .nav-main-view-container {
    width: 100%;
  }
  .menu-icon {
    display: block;
  }

  .open-sidebar {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 200;
    background: var(--main-bg-color);
    transition: all 0.2s ease;
  }

  .close-sidebar {
    display: none;
  }

  /* nav header */

  .menu-header {
    width: auto;
  }

  .dairy-name {
    width: 90%;
  }
}
