.buttons-amount-container {
  margin-top: 10px;
}
.buttons-amount-container button {
  width: 45%;
}

@media screen and (max-width: 769px) {
  .society-initial-info-contianer {
    min-height: auto;
    flex-direction: column;
  }
  .society-initial-info-contianer .dairy-ladger-info-outer-container {
    min-height: fit-content;
    flex-direction: column;
  }
  .dairy-ladger-info-outer-container .dairy-main-ladger-info-container {
    width: 100%;
    min-height: fit-content;
    margin-bottom: 10px;
  }
  .dairy-main-ladger-info-container .dairy-initial-cash-info-div {
    width: 100%;
    min-height: fit-content;
  }
  .dairy-main-ladger-info-container .dairy-initial-cash-gl-info-div {
    margin-top: 15px;
    width: 100%;
    min-height: fit-content;
  }

  .dairy-initial-cash-info-div .starting-info-div {
    width: 100%;
    margin-bottom: 5px;
  }
  .dairy-initial-cash-info-div .starting-info-div label {
    width: 50%;
    padding: 0;
  }
  .dairy-initial-cash-info-div .starting-info-div input {
    width: 50%;
  }

  .dairy-initial-cash-gl-info-div .cashgl-info-div {
    width: 100%;
    margin-bottom: 5px;
  }
  .dairy-initial-cash-gl-info-div .cashgl-info-div label {
    width: 50%;
    padding: 0;
  }
  .dairy-initial-cash-gl-info-div .cashgl-info-div input {
    width: 50%;
  }
  .dairy-main-ladger-info-container .select-dairy-gl-div {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .dairy-main-ladger-info-container .select-dairy-gl-div {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .dairy-main-ladger-info-container .select-dairy-gl-div label {
    width: 30%;
    padding: 0;
  }
  .dairy-main-ladger-info-container .select-dairy-gl-div .s1 {
    width: 15%;
  }
  .dairy-main-ladger-info-container .select-dairy-gl-div .s2 {
    width: 45%;
  }

  .dairy-ladger-info-outer-container .ladger-settings-container {
    width: 100%;
    display: flex;
  }
  .ladger-settings-container .round-amount-container {
    width: 22%;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .ladger-settings-container button {
    width: 30%;
  }
}

@media screen and (max-width: 426px) {
  .society-initial-info-contianer {
    min-height: auto;
    flex-direction: column;
  }
  .society-initial-info-contianer .dairy-ladger-info-outer-container {
    min-height: fit-content;
    flex-direction: column;
  }
  .dairy-ladger-info-outer-container .dairy-main-ladger-info-container {
    width: 100%;
    min-height: fit-content;
  }
  .dairy-main-ladger-info-container .dairy-initial-cash-info-div {
    width: 100%;
    min-height: fit-content;
    flex-direction: column;
  }
  .dairy-main-ladger-info-container .dairy-initial-cash-gl-info-div {
    margin-top: 15px;
    width: 100%;
    min-height: fit-content;
    flex-direction: column;
  }

  .dairy-initial-cash-info-div .starting-info-div {
    width: 100%;
    margin-bottom: 5px;
  }
  .dairy-initial-cash-info-div .starting-info-div label {
    width: 50%;
  }
  .dairy-initial-cash-info-div .starting-info-div input {
    width: 50%;
  }

  .dairy-initial-cash-gl-info-div .cashgl-info-div {
    width: 100%;
    margin-bottom: 5px;
  }
  .dairy-initial-cash-gl-info-div .cashgl-info-div label {
    width: 50%;
    padding: 0;
  }
  .dairy-initial-cash-gl-info-div .cashgl-info-div input {
    width: 50%;
  }
  .dairy-main-ladger-info-container .select-dairy-gl-div {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .dairy-main-ladger-info-container .select-dairy-gl-div label {
    width: 100%;
    padding: 0;
  }
  .dairy-main-ladger-info-container .select-dairy-gl-div .s1 {
    width: 30%;
  }
  .dairy-main-ladger-info-container .select-dairy-gl-div .s2 {
    width: 65%;
  }
  .dairy-main-ladger-info-container .select-dairy-gl-outer-div label {
    margin-bottom: 10px;
    padding: 0;
  }
  .dairy-main-ladger-info-container .select-dairy-gl-outer-div label {
    margin-bottom: 10px;
    padding: 0;
  }

  .dairy-main-ladger-info-container .select-dairy-gl-div {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .dairy-main-ladger-info-container .select-dairy-gl-div label {
    width: 100%;
  }
  .dairy-main-ladger-info-container .select-dairy-gl-div .s1 {
    width: 30%;
  }
  .dairy-main-ladger-info-container .select-dairy-gl-div .s2 {
    width: 65%;
  }

  .dairy-ladger-info-outer-container .ladger-settings-container {
    width: 100%;
  }
  .ladger-settings-container .round-amount-container {
    width: 45%;
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .ladger-settings-container button {
    width: 45%;
  }
}
