.col {
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
}
.forDWidth {
  min-width: 1141px !important;
}

@media screen and (max-width: 426px) {
  .create-dealer-container {
    min-height: auto;
  }
  .create-dealer-container .create-dealer-inner-container,
  .create-dealer-container .create-dealer-form-container {
    width: 100%;
    min-height: fit-content;
    padding: 0;
  }
  .create-dealer-form-container .row {
    margin: 0;
  }
  .create-dealer-form-container .button-container {
    flex-direction: row;
  }
  .minSize {
    padding: 15px!important;
  }
}
