.col {
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
}
.forDWidth {
  min-width: 1141px !important;
}

.dealerModel {
  position: fixed;
  z-index: 101;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}
.dealerModel .modal-content {
  background-color: #ffffff;
  max-height: 90%;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  overflow: auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.dealerModel .modal-content h2 {
  /* font-size: 1.5rem; Slightly larger heading */
  margin-bottom: 10px;
  color: #333; /* Darker text for better readability */
  text-align: center;
}

.dealerModel .modal-content label {
  /* font-size: 1rem; */
  color: #555;
  margin-bottom: 5px;
}

.dealerModel .modal-content button {
  padding: 10px 20px;
  /* font-size: 1rem; */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.dealerModel .modal-content button:last-child {
  background-color: #007bff;
  color: white;
  margin-left: 10px;
}

.dealerModel .modal-content button:last-child:hover {
  background-color: #0056b3;
}

.dealerModel .modal-content button:first-child {
  background-color: #f8f9fa;
  color: #333;
}

.dealerModel .modal-content button:first-child:hover {
  background-color: #e2e6ea;
}

@media screen and (max-width: 426px) {
  .create-dealer-container {
    min-height: auto;
  }
  .create-dealer-container .create-dealer-inner-container,
  .create-dealer-container .create-dealer-form-container {
    width: 100%;
    min-height: fit-content;
    padding: 0;
  }
  .create-dealer-form-container .row {
    margin: 0;
  }
  .create-dealer-form-container .button-container {
    flex-direction: row;
  }
  .group-code-and-button-div {
    min-height: fit-content;
    flex-wrap: wrap;
  }
  .group-code-and-button-div .excel-btn,
  .group-code-and-button-div .pdf-btn {
    width: 45%;
  }
  .customer-list-container-div .customer-list-table {
    margin-bottom: 10px;
  }

  /* ----- create dealer css -------- */
  .create-dealer-container .create-dealer-inner-container {
    margin-bottom: 10px;
  }
}
