.startingModal {
  position: fixed;
  z-index: 101;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.startingModal .modal-content {
  background-color: #ffffff;
  max-height: 90%;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  overflow: auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.startingModal .modal-content h2 {
  margin-bottom: 10px;
  color: #333;
  text-align: center;
}

.startingModal .modal-content label {
  color: #555;
  margin-bottom: 5px;
}

.startingModal .modal-content button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.startingModal .modal-content button:last-child {
  background-color: #007bff;
  color: white;
  margin-left: 10px;
}

.startingModal .modal-content button:last-child:hover {
  background-color: #0056b3;
}

.startingModal .modal-content button:first-child {
  background-color: #f8f9fa;
  color: #333;
}

.startingModal .modal-content button:first-child:hover {
  background-color: #e2e6ea;
}

@media screen and (min-width: 426px) and (max-width: 769px) {
  .starting-stock-outer-container .starting-stock-container {
    width: 80%;
  }
}

@media screen and (max-width: 426px) {
  .stock-container .stock-nav-views {
    height: 110%;
  }

  .starting-stock-outer-container {
    min-height: auto;
  }

  .starting-stock-outer-container .starting-stock-container {
    width: 100%;
    min-height: fit-content;
  }

  .starting-stock-container .starting-stock-form-container {
    min-height: fit-content;
  }

  .starting-stock-form-container .stock-details-outer-container {
    width: 100%;
    min-height: fit-content;
    flex-direction: column;
  }

  .stock-details-outer-container .stock-details-div {
    width: 100%;
  }
}
