.dropdown-list {
  position: absolute;
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 150px;
  overflow-y: auto;
  z-index: 10;
}

.dropdown-list li {
  padding: 8px;
  cursor: pointer;
}

.dropdown-list li:hover {
  background: #f0f0f0;
}

@media screen and (max-width: 426px) {
  .retail-milk-sales-form-container {
    margin-top: 24%;
    min-height: auto;
  }
  .milk-details-div {
    max-height: fit-content;
  }
  .milk-col-form .user-details {
    flex-direction: column;
    height: auto;
  }
  .milk-details-div .milk-info {
    width: 100%;
    height: auto;
  }
  .retail-milk-sales-form-container .milk-col-form {
    width: 95%;
    min-height: fit-content;
  }
  .milk-col-form .form-btns button {
    margin-top: 10px;
    width: 45%;
  }
  .milk-details-div .milk-info .form-div select {
    width: 60%;
  }
}
