.form-div {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.form-div label {
  margin: 5px 0 5px 15px;
}
.form-div .form-inputs {
  width: 90%;
  margin: 0 5% 10px 5%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--bg-gray-color);
}

.form-inputs::-webkit-outer-spin-button,
.form-inputs::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form-div .form-inputs:focus {
  outline: none;
  box-shadow: 1px 1px 8px 0px rgba(166, 166, 166, 1);
}

.milk-col-form .form-btns .form-btn {
  width: 100px;
  margin-right: 10px;
  padding: 10px;
  border: none;
  border-radius: 6px;
}

/* milk collection list css */
.collection-list-container {
  max-height: 90%;
  overflow-y: scroll;
}
.collection-details {
  height: 120px;
  margin-bottom: 10px;
}
.collection-list-container > .collection-details > .line {
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.sakalan-time {
  padding: 5px 10px;
  background-color: #ddd;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 10px;
  transition: background-color 0.3s ease;
}

.sakalan-time.on {
  background-color: #f08726;
  color: white;
}

.sakalan-time.off {
  background-color: #4774f1;
  color: white;
}

.header-nav-div {
  background-color: #1a7cec;
}
.active-nav {
  background-color: #081947;
  padding: 10px;
  color: black;
}

.milk-collection-info-div .collection-info-heading {
  border-radius: 7px 7px 0 0;
}

/* milk collection list css end */

@media screen and (max-width: 426px) {
  .milk-form-list-container {
    flex-direction: column;
  }
  .toggle-button {
    padding: 5px 8px;
    font-size: 8px;
  }
  .form-div .form-inputs {
    padding: 7px;
  }
  .milk-col-form .form-btns {
    margin-top: 10px;
  }
  .milk-col-form .form-btns .form-btn {
    padding: 7px;
  }
  .milk-form-list-container .milk-collection-form {
    width: 100%;
  }
  .milk-form-list-container .milk-coll-list-div {
    width: 100%;
  }

  .milk-form-list-container .milk-coll-list-div {
    margin: 10px 0 0 0;
  }

  /* Mobile Milk Collection form css*/
  .apphome-nav-views {
    padding: 5px;
  }

  .apphome-nav-views .mobile-milk-coll-form {
    width: 100%;
  }
  .form-setting .setting-btn-switch,
  .form-setting .form-date {
    width: 50%;
  }

  .form-setting .form-date .data {
    width: 70%;
  }

  .milk-details .user-code {
    width: 40%;
  }
  .milk-details .user-name {
    width: 60%;
  }
  .mobile-milkcoll-form-btns .btn {
    margin-top: 10px;
  }

  /* Mobile Milk Collection Report css*/
  .apphome-nav-views .mobile-milk-collection-report .milk-collection-info-div {
    width: 100%;
    padding: 0;
  }
  .mobile-milk-collection-report .page-title-button-div {
    width: 100%;
    padding: 0 10px;
  }
  .mobile-milk-collection-report .f-heading {
    display: none;
  }

  /* complete mobile milk collection form */
  .apphome-nav-views .complete-mobile-milk-coll {
    width: 100%;
  }
}
