.loss-gain-to-date-div {
  margin-left: 13px;
}
.button-loss-gain-div {
  margin-right: 30px;
}
@media screen and (max-width: 426px) {
  .loss-gain-report-outer-container .loss-gain-report-container {
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
  }
  .first-loss-gain-report-div .loss-gain-report-from-to-date-div {
    min-height: fit-content;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
  }
  .loss-gain-report-from-to-date-div .loss-gain-from-date-div {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .first-loss-gain-report-div .button-loss-gain-div {
    justify-content: space-between;
    margin: 0;
  }
  .first-loss-gain-report-div .button-loss-gain-div button {
    width: 45%;
  }
  .loss-gain-report-from-to-date-div .center-selection-loss-gain-div {
    width: 100%;
  }
  .loss-gain-report-from-to-date-div .center-selection-loss-gain-div span {
    width: 80px;
  }
  .loss-gain-report-from-to-date-div .center-selection-loss-gain-div select {
    width: 200px;
    margin-bottom: 5px;
  }
}
