@media screen and (max-width: 426px) {
  .from-to-date-fat-snf-div .from-date-snf-fat {
    width: 50%;
  }
  .from-to-date-fat-snf-div .from-date-snf-fat span {
    width: 100px;
  }
  .from-to-date-fat-snf-div .from-date-snf-fat input {
    width: 130px;
    font-size: small;
  }
  .from-to-date-fat-snf-div .to-date-snf-fat {
    width: 50%;
  }
  .from-to-date-fat-snf-div .to-date-snf-fat span {
    width: 50px;
  }
  .from-to-date-fat-snf-div .to-date-snf-fat input {
    width: 130px;
    font-size: small;
  }
  .radio-button-mrg-eve .morning-snf-div input {
    width: 60px;
  }
  .radio-button-mrg-eve .morning-snf-div span {
    width: 80px;
  }
  .codeno-fat-snf-div .from-code-snf-fat span {
    width: 120px;
  }
  .codeno-fat-snf-div .to-code-snf-fat span {
    width: 120px;
  }

  .second-half-clr-snf-fat .fat-info-div .jounral-radio-button span {
    width: 120px;
  }
  .second-half-clr-snf-fat .fat-info-div  {
    margin-bottom: 100px;

  }
   .filedsetfat {
    flex-direction: column;

  }
   .filedsetfat .radio-button1-div {
   width: 100%;
   margin-bottom: 20px;

  }
   .filedsetfat .radio-button1-div .jounral-radio-button {
   width: 150px;

  }
   .filedsetfat .radio-button1-div .Back-day-radio-button {
   width: 150px;

  }
   .filedsetfat .radio-button1-div .differance-radio-button {
   width: 150px;

  }
  .second-half-clr-snf-fat .fat-info-div .fieldset1 {
    flex-direction: column;
  }
   .fieldset1 .radio-button-first-part {
    width: 100%;
  }
   
   
   .fieldset1 .radio-button-first-part .Back-day-radio-button{
     width: 35%;
  }
   
   .fieldset1 .radio-button-first-part .Back-day-radio-button span{
     width:300px ;
  }
   .second-half-clr-snf-fat .fat-info-div .fieldset{
      flex-direction: column;
  }
     .filedsetfat .input-filed-updated-button-div{
    width: 100%;
  }
     .filedsetfat .input-filed-updated-button-div .updated-button{
        width: 350px
  }
}
