@media screen and (min-width: 426px) and (max-width: 769px) {
  .snf-fat-compromise-form-container .fat-snf-update-details-div {
    width: 100%;
  }
  .fat-snf-update-containers .update-option-details .radio-button-div input {
    width: 20px;
    margin-right: 5px;
  }
  .radio-button-container .radio-button-div:nth-child(2) {
    width: 60%;
  }
  .update-option-details .other-radio-button-container .radio-button-div {
    width: 33%;
  }
  .update-option-details
    .change-radio-button-container
    .radio-button-div:last-child {
    display: none;
  }
  .update-option-details .change-radio-button-container .radio-button-div {
    width: 40%;
    justify-content: space-between;
  }
}

@media screen and (max-width: 426px) {
  .fatsnf-compromise-container {
    min-height: auto;
  }
  .fatsnf-compromise-container .snf-fat-compromise-form-container {
    min-height: fit-content;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .snf-fat-compromise-form-container .fat-snf-update-details-div {
    width: 100%;
    min-height: fit-content;
    flex-direction: column;
  }
  .fat-snf-update-details-div .date-snf-fat-div {
    width: 100%;
    margin-bottom: 10px;
  }
  .snf-fat-compromise-form-container .fat-snf-update-details-div {
    width: 100%;
  }
  .fat-snf-update-details-div .radio-button-mrg-eve,
  .fat-snf-update-details-div .codeno-fat-snf-div {
    width: 100%;
    margin-bottom: 10px;
  }
  .fat-snf-update-details-div button {
    width: 100%;
  }
  .fatsnf-compromise-container .fat-snf-update-containers {
    min-height: fit-content;
  }

  .fat-snf-update-containers .update-option-details {
    width: 100%;
    min-height: fit-content;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .fat-snf-update-containers .update-option-details label {
    width: 100%;
    text-align: center;
  }
  .fat-snf-update-containers .update-option-details .radio-button-div input {
    width: 25px;
    margin-right: 5px;
  }
  .update-option-details .radio-button-container,
  .update-option-details .other-radio-button-container,
  .update-option-details .change-radio-button-container {
    width: 100%;
    justify-content: space-between;
  }

  .radio-button-container .radio-button-div {
    margin: 10px 0;
  }
  .radio-button-container .radio-button-div:nth-child(2) {
    width: 60%;
  }
  .update-option-details .other-radio-button-container .radio-button-div {
    width: 33%;
    margin: 10px 0;
  }
  .update-option-details .change-radio-button-container .radio-button-div {
    width: 40%;
    justify-content: space-between;
    margin: 10px 0;
  }
  .update-option-details
    .change-radio-button-container
    .radio-button-div:last-child {
    display: none;
  }
  .update-option-details .input-filed-updated-button-div {
    width: 100%;
  }
}
