.transfer-icons {
  font-size: 36px;
  color: blueviolet;
}
.milk-collection-data-container .transfer-logos-container .mobile-icons {
  display: none;
}

/* customer to customer transfer */
@media screen and (max-width: 426px) {
  .milk-collection-data-container {
    flex-direction: column;
    min-height: auto;
    padding: 10px;
  }
  .view-milk-collection-container .customer-details-container {
    flex-direction: column;
    min-height: fit-content;
    padding: 0 10px;
  }
  .customer-details-container .from-cutsomer-details {
    width: 100%;
    min-height: fit-content;
    margin-bottom: 10px;
  }
  .cutsomer-detail .to-customer-details-container input {
    margin: 0;
  }
  .customer-details-container .from-customer-details-container,
  .customer-details-container .date-container {
    margin-bottom: 10px;
  }

  .customer-details-container .cutsomer-details {
    width: 100%;
    min-height: fit-content;
  }
  .milk-collection-data-container .morning-milk-collection-data,
  .milk-collection-data-container .evening-milk-collection-data {
    width: 100%;
    min-height: 100%;
  }
  .milk-collection-data-container .transfer-logos-container {
    width: 100%;
    flex-direction: row;
    height: 20%;
    justify-content: center;
  }
  .milk-collection-data-container .transfer-logos-container .laptop-icons {
    display: none;
  }
  .milk-collection-data-container .transfer-logos-container .mobile-icons {
    display: block;
  }
}

/* Shift Wise milk Transfer And copy milk css */
@media screen and (max-width: 426px) {
  .shift-wise-milk-transfer-container {
    padding: 10px;
  }
  .shift-wise-milk-transfer-container .milk-date-transfer-container {
    width: 100%;
  }
  .customer-codes-container input[type="radio"] {
    width: 5%;
    padding: 0;
  }
}

/* delete milk css */
@media screen and (max-width: 426px) {
  .delete-milk-collection-container {
    padding: 10px;
  }
  .delete-milk-collection-container .milk-date-delete-container {
    width: 100%;
  }
  .delete-dates-container .date-container span:first-child {
    display: none;
  }
  .delete-dates-container .date-container input {
    width: 40%;
  }
}
