.transfer-icons {
  font-size: 36px;
  color: blueviolet;
}
.milk-collection-data-container .transfer-logos-container .mobile-icons {
  display: none;
}

/* customer to customer transfer */
@media screen and (max-width: 426px) {
  .milk-collection-data-container {
    flex-direction: column;
    min-height: fit-content;
    padding: 10px;
  }
  .view-milk-collection-container .customer-details-container {
    flex-direction: column;
    min-height: 30%;
    padding: 0 10px;
  }
  .customer-details-container .from-cutsomer-details {
    width: 100%;
    min-height: 60%;
    margin-bottom: 10px;
  }
  .cutsomer-detail .to-customer-details-container input {
    margin: 0;
  }
  .customer-details-container .cutsomer-details {
    width: 100%;
    min-height: 30%;
  }
  .milk-collection-data-container .morning-milk-collection-data,
  .milk-collection-data-container .evening-milk-collection-data {
    width: 100%;
    min-height: 100%;
  }
  .milk-collection-data-container .transfer-logos-container {
    width: 100%;
    flex-direction: row;
    height: 20%;
    justify-content: center;
  }
  .milk-collection-data-container .transfer-logos-container .laptop-icons {
    display: none;
  }
  .milk-collection-data-container .transfer-logos-container .mobile-icons {
    display: block;
  }
}
