.bill-payments-container-div button {
  width: 100%;
}

@media screen and (min-width: 426px) and (max-width: 769px) {
  .Bil-list-container {
    min-height: auto;
  }
  .Bil-list-container .generate-bill-form-container {
    min-height: fit-content;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 10px;
  }
  .generate-bill-form-container .bill-voucher-date-container {
    width: 40%;
    padding: 10px;
  }
  .bill-voucher-date-container .bil-date-div {
    margin-bottom: 10px;
  }
  .generate-bill-form-container .payment-dates-container {
    width: 55%;
    padding: 10px;
  }
  .payment-dates-container .pay-fromdate-div {
    margin-bottom: 10px;
  }
  .generate-bill-form-container .checkbox-container {
    width: 40%;
    flex-direction: row;
    max-height: max-content;
    margin-top: 10px;
  }
  .generate-bill-form-container .checkbox-container .check-acc-div {
    height: auto;
  }
  .generate-bill-form-container .form-button-div {
    width: 50%;
    flex-direction: row;
    max-height: max-content;
    margin-top: 10px;
  }
  .generate-bill-form-container .form-button-div button {
    width: 45%;
  }
  .payment-details-and-report-btn-div {
    min-height: 80%;
  }
  .payment-details-and-report-btn-div .bill-payments-container-div {
    width: 20%;
  }
  .bill-payments-container-div button {
    width: 100%;
    margin-bottom: 10px;
  }
  .lock-payment-container .lock-unlock-payment-container {
    width: 70%;
  }
}

@media screen and (max-width: 426px) {
  .Bil-list-container {
    min-height: auto;
  }
  .Bil-list-container .page-title-select-center-container {
    min-height: fit-content;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 5px;
  }

  .page-title-select-center-container .heading {
    width: 100%;
  }
  .page-title-select-center-container .label-text {
    width: 30%;
  }
  .page-title-select-center-container #select-center {
    width: 60%;
  }

  .generate-bill-form-container {
    min-height: fit-content;
    flex-direction: column;
  }

  .generate-bill-form-container .bill-voucher-date-container,
  .generate-bill-form-container .payment-dates-container {
    width: 100%;
    min-height: fit-content;
    margin-bottom: 10px;
    padding: 10px;
  }

  .bill-voucher-date-container .bil-date-div,
  .bill-voucher-date-container .Voucher-date-div,
  .payment-dates-container .pay-fromdate-div,
  .payment-dates-container .pay-todate-div {
    flex-direction: column;
    align-items: flex-start;
  }

  .bill-voucher-date-container span,
  .bill-voucher-date-container input,
  .payment-dates-container span,
  .payment-dates-container input {
    width: 100%;
  }

  .generate-bill-form-container .checkbox-container {
    width: 100%;
    min-height: fit-content;
    flex-direction: row;
    margin-bottom: 10px;
  }
  .generate-bill-form-container .form-button-div {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  .generate-bill-form-container .form-button-div button {
    width: 45%;
  }
  .payment-details-and-report-btn-div {
    min-height: 180%;
    flex-direction: column;
  }

  .payment-details-and-report-btn-div .payment-data-report-btn-div {
    min-height: fit-content;
    width: 100%;
    padding: 0;
  }

  .payment-details-and-report-btn-div .customer-code-div {
    width: 100%;
    min-height: fit-content;
    flex-direction: column;
  }

  .payment-data-report-btn-div .customer-code-div span {
    width: 100%;
  }
  .payment-data-report-btn-div .customer-code-div .label-text {
    min-height: 30px;
    margin-bottom: 10px;
  }

  .customer-code-div .cust-code-div {
    width: 100%;
    min-height: fit-content;
    margin-bottom: 10px;
  }

  .cust-code-div input {
    width: 20%;
  }

  .bill-payments-details-container {
    min-height: 60%;
    margin-bottom: 10px;
  }

  .payment-data-report-btn-div .bill-form-btn-div {
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .payment-data-report-btn-div .bill-form-btn-div button {
    width: 30%;
  }
  .payment-details-and-report-btn-div .bill-payments-container-div {
    width: 100%;
    min-height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .bill-payments-container-div button {
    width: 45%;
    margin-bottom: 10px;
  }
}

/* ------- Lock payment Bill css -------- */
@media screen and (max-width: 426px) {
  .lock-payment-container {
    min-height: auto;
  }
  .lock-payment-container .lock-unlock-payment-container {
    width: 100%;
  }
}
