@media screen and (min-width: 426px) and (max-width: 769px) {
  .payment-summary-outer-container .payment-summary-details-container {
    justify-content: space-around;
  }

  .payment-summary-total-details-container
    .headings-pay-summary-totals-container {
    width: 23%;
    height: 70px;
  }

  .payment-deduction-info-outer-container .payment-summary-info-container {
    height: 60%;
  }
}

@media screen and (max-width: 426px) {
  .main-view-container .payment-summary-container {
    min-height: auto;
  }
  .payment-summary-container .title-back-btn-container {
    margin-bottom: 10px;
  }
  .payment-summary-container .from-to-date-button-container {
    min-height: fit-content;
    flex-direction: column;
  }
  .from-to-date-button-container .date-from-to-div {
    width: 100%;
    min-height: fit-content;
    flex-direction: column;
  }
  .from-to-date-button-container .date-from-to-div .from-div-container {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .date-from-to-div .from-div-container label {
    width: 30%;
  }
  .date-from-to-div .from-div-container .data {
    width: 50%;
  }
  .from-to-date-button-container .button-print-export-div {
    width: 100%;
    justify-content: space-between;
  }

  .from-to-date-button-container .button-print-export-div button {
    width: 30%;
    margin-bottom: 10px;
  }
  .payment-summary-container .payment-summary-outer-container {
    min-height: fit-content;
  }
  .payment-summary-outer-container .payment-summary-total-details-container {
    min-height: fit-content;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .payment-summary-total-details-container
    .headings-pay-summary-totals-container {
    width: 48%;
    height: 70px;
    margin-bottom: 10px;
  }

  .payment-deduction-info-outer-container
    .headings-pay-summary-totals-container {
    width: 100%;
  }
  .payment-deduction-info-outer-container .payment-summary-info-container {
    width: 100%;
    padding: 0;
  }
}
