.applogo {
  width: 80px;
  height: 80px;
}
.error-border {
  border: 1px solid red;
}

.terms-conditions .checkboxx {
  color: #5d06ad;
  margin-right: 10px;
}
.swith-form-button {
  margin-bottom: 5px;
  border: none;
  font-weight: 400;
  color: #5d06ad;
  background: transparent;
}
.update-container{
  margin-top: 30%;
}

.form-btn {
  padding: 10px;
  background: #7235ed;
  color: #fff;
  border: none;
  border-radius: 7px;
  transition:all 0.3s ease ;
}
.form-btn:hover {
  font-weight: 600;
  color: #7235ed;
  background-color: #fff;
}
/* ............................... */
/*Responsive css*/
/* ............................... */

@media only screen and (max-width: 992px) {
  .applogo {
    margin-top: 50px;
  }

  .auth-container .form-container {
    margin-top: 50px;
    width: 80%;
  }
}

@media screen and (max-width: 769px) {
  .applogo {
    margin-top: 50px;
  }

  .auth-container .form-container {
    margin-top: 50px;
    width: 100%;
  }
}

@media screen and (max-width: 426px) {
  .applogo {
    margin-top: 50px;
  }

  .auth-container .form-container {
    margin-top: 50px;
    width: 100%;
  }

  .auth-container .login-form {
    width: 70%;
    margin: 0 15%;
  }
}
