.deduction-name-table-container-save-print-button{
    margin-top: 10px;
}
.bill-table-heading-container{
    background-color: #007bff;;
      height: 30px;
      
}
.bill-table-heading-container span{
    color: white;
      
      
}