.custom-swal-popup {
  min-width: 250px;
  min-height: 50vh;
}
.custom-swal-title {
  font-size: 20px;
  font-weight: bold;
  color: #17acc0;
}
.custom-swal-content {
  font-size: 14px;
}

.swal2-icon.swal2-warning {
  font-size: 14px;
}

@media screen and (min-width: 426px) and (max-width: 769px) {
  .emp-create-update-container .create-emp-container,
  .Employee-views .emp-list-container {
    width: 90%;
  }
  .emp-details-container .button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .button-container button {
    width: 45%;
    margin: 0 10px;
  }
}

@media screen and (max-width: 426px) {
  .emp-create-update-container {
    min-height: auto;
    overflow-y: scroll;
  }
  .emp-create-update-container .create-emp-container {
    width: 100%;
    min-height: auto;
  }
  .emp-create-update-container .create-emp-container .emp-details-container {
    min-height: fit-content;
  }
  .create-emp-container .emp-details-div {
    min-height: fit-content;
    flex-direction: column;
  }
  .emp-details-div .details-div {
    width: 100%;
  }
}

/* <<<<<<--------------- Employee List css start ----------->>>>>>>*/
.data-heading-div {
  border-radius: 8px 8px 0 0;
}

@media screen and (max-width: 426px) {
  .emp-list-outer-container {
    min-height: auto;
    padding: 10px;
  }
  .emp-list-outer-container .emp-list-container {
    width: 100%;
    min-height: fit-content;
    margin-bottom: 10px;
  }
  .emp-list-container .title-div {
    min-height: fit-content;
    flex-direction: column;
    padding: 0;
  }
  .title-div span {
    width: 100%;
    text-align: start;
  }
  .title-div .filter-emp-by-center {
    width: 100%;
  }
  .title-div .filter-emp-by-center .label-text {
    width: 30%;
  }
  .title-div .filter-emp-by-center .data {
    width: 70%;
  }
  .emp-data-list-container {
    min-height: 100%;
    overflow-x: auto;
  }
  .emp-data-heading-div {
    min-width: 800px;
    position: sticky;
    top: 0;
    background-color: #17acc0;
    padding: 5px 0;
  }
  .emp-data-list-div {
    min-width: 800px;
  }
}
/* <<<<<<--------------- Employee List css end ----------->>>>>>>*/
