@media screen and (max-width: 769px) {
  .rate-chart-master-container .select-ratechart-container,
  .rate-chart-master-container .save-ratechart-container {
    width: 50%;
  }
}

@media screen and (max-width: 426px) {
  .rate-chart-master-container {
    flex-direction: column;
    min-height: auto;
  }
  .rate-chart-master-container .select-ratechart-container {
    width: 100%;
    min-height: 80%;
    padding: 0;
    margin-bottom: 10px;
  }
  .select-ratechart-container .select-excel-container {
    margin-bottom: 10px;
  }
  .select-ratechart-container .select-excel-container .label-text {
    width: 50%;
  }
  .rate-chart-master-container .save-ratechart-container {
    width: 100%;
    min-height: 100%;
  }
  .save-ratechart-container .previous-rate-chart-container {
    min-height: 50%;
    margin-bottom: 10px;
  }
  .save-ratechart-container .button-div .btn{
    width: 30%;
  }
  .save-ratechart-container .rate-chart-options-container {
    min-height: 65%;
  }
  .rate-chart-div .rate-chart-row-value {
    padding: 5px 0;
  }
}
