@media screen and (max-width: 426px) {
  .sub-ledger-container {
    min-height: auto;
  }
  .sub-ledger-container .ledger-master-form-container {
    min-height: fit-content;
    flex-direction: column;
  }
  .ledger-master-form-container .ledger-info-contsiner {
    min-height: 60%;
    width: 100%;
    margin-bottom: 10px;
  }
  .ledger-master-form-container .ledger-settings-contsiner {
    min-height: 40%;
    width: 100%;
    margin-bottom: 10px;
  }
  .ledgers-list-container {
    min-height: 70%;
  }
}
