.page-navbar-container {
  background-color: var(--main-bg-color);
}
.logo-text {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}
.userinfo-logout-btn-div .icons {
  font-size: 16px;
  color: #fff;
}
.user-info-text {
  font-size: 16px;
  color: var(--main-bg-color);
}

.menu-icon-btn {
  border-radius: 9px;
  background-color: var(--bg-gray-color);
  margin: 10px;
}
.icon-div .menu-icons {
  font-size: 32px;
  color: var(--main-bg-color);
}
.menu-text-div > span {
  font-size: 14px;
  color: var(--main-bg-color);
}
